body {
	background-color: rgb(245, 245, 220); 
}

h1 {
	padding-top: 100px;
	text-align: center; 
	font-family: 'Cabin', sans-serif;
}

img {
	width: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	text-align: center; 
	font-family: 'Cabin', sans-serif;
}

#lottery {
	font-family: 'Cabin', sans-serif; 
	text-align: center;
	font-size: 20px;
}